
<div class="container">
    <form action="authorization" method="post" class="form">
        <h1 class="form__title">Вход</h1>
            <input type="text" class="form__input" name="login">
            <label class="form__label">Логин</label>

            <input type="text" class="form__input" name="pass">
            <label class="form__label">Пароль</label>

        <div class="form-btn">
        <a href="/cards" class="waves-effect waves-light btn-large">Войти</a>
        </div>

    </form>
</div>
