.card__applications{
    margin-bottom: 1rem;
}

.card__applications{
    z-index: 2;
}

.card__applications span.completed{
    text-decoration: line-through;
}


.card__applications label{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;  
    background: #f3f3f3;
}

.card__applications span{
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -.04em;
    color: #323232;
    display: block;
    font-family: 'Roboto', sans-serif;
    margin-right: 20px;
}



.form-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__title{
    text-align: center;
}

.consult{
    padding-bottom: 10px;
}

.form__bank{
    pointer-events: none;
}

